<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Usuarios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link href="/styles/navStyle.css" rel="stylesheet">
    <link href="/styles/gestionUsuarioStyle.css" rel="stylesheet">
</head>
<body>
<!-- Incluir el fragmento de la barra de navegación -->
<div th:replace="~{fragments/navFragment :: navFragment}"></div>

<div class="container mt-5">
    <!-- Controlador Gestion -->
    <section>
        <!-- Mensaje Principal -->
        <div id="mensajePrincipal" style="display: none;"></div>

        <div class="container s">
            <div class="row mb-4">
                <div class="col-12">
                    <h4>Gestión Usuarios</h4>
                </div>
            </div>

            <div>

            </div>


            <div class="row mb-3">
                <!-- Buscar Usuario por Email -->
                <div class="col-12 col-md-10">
                    <input type="email" id="buscarPorEmailUsuario" class="form-control" placeholder="Buscar Usuario por Email">
                </div>
                <div class="col-12 col-md-2">
                    <button id="buscarUsuarioBtn" class="btn btn-dark w-100" type="button">Buscar Usuario</button>
                </div>
            </div>

            <div class="row mb-3">
                <!-- Crear Usuario-->
                <div class="col-12 col-md-6">
                    <button id="abrirFormularioBtn" class="btn btn-dark w-100" type="button">Crear Usuario</button>
                </div>

                <!-- Crear Rol -->
                <div class="col-12 col-md-6">
                    <button id="abrirFormularioCrearRolBtn" class="btn btn-dark w-100" type="button">Crear Rol</button>
                </div>
            </div>


            <div class="row mb-3">
                <!-- Todos Los Usuarios -->
                <div class="col-12 col-md-6">
                    <button id="todosLosUsuariosBtn" class="btn btn-dark w-100" type="button">Todos Los Usuarios</button>
                </div>

                <!-- Todos Los Roles -->
                <div class="col-12 col-md-6">
                    <button id="todosLosRolesBtn" class="btn btn-dark w-100" type="button">Todos Los Roles</button>
                </div>
            </div>

        </div>
    </section>

    <!-- Tabla de usuarios -->
    <section>
        <table id="tablaUsuario" class="table table-bordered table-striped" style="display: none">
            <thead>
            <tr>
                <th>Referencia</th>
                <th>Nombre</th>
                <th>Número</th>
                <th>Dirección</th>
                <th>Email</th>
                <th>Contraseña</th>
                <th>Rol</th>
                <th>Modificar</th>
                <th>Eliminar</th>

            </tr>
            </thead>

            <tbody id="usuarioTablaTBody">

            </tbody>
        </table>
    </section>

    <!-- Tabla de rol -->
    <section>
        <table id="tablaRol" class="table table-bordered table-striped" style="display: none">
            <thead>
            <tr>
                <th>Referencia</th>
                <th>Nombre</th>
                <th>Asignar</th>
                <th>Modificar</th>
                <th>Eliminar</th>

            </tr>
            </thead>

            <tbody id="rolTablaTBody">

            </tbody>
        </table>
    </section>


    <!-- Formulario oculto Crear Usuario -->
    <section>
            <div id="formularioCrearUsuario" class="formulario-modal">

                <!-- Mensaje Crear Usuario -->
                <div id="mensajeCrearUsuario" style="display: none; "></div>

                <form id="crearUsuarioForm">
                    <!-- Nombre de Usuario -->
                    <div class="mb-3 form-group">
                        <label for="nombreUsuario" class="label">Nombre</label>
                        <input type="text" class="form-control" id="nombreUsuario" name="nombreUsuario" placeholder="Ingresa tu nombre de usuario" required>
                    </div>

                    <!-- Celular de Usuario -->
                    <div class="mb-3 form-group">
                        <label for="celUsuario" class="label">Celular</label>
                        <input type="tel" class="form-control" id="celUsuario" name="celUsuario" placeholder="Ingresa tu número de celular" required>
                    </div>

                    <!-- Dirección de Usuario -->
                    <div class="mb-3 form-group">
                        <label for="direccionUsuario" class="label">Dirección</label>
                        <input type="text" class="form-control" id="direccionUsuario" name="direccionUsuario" placeholder="Ingresa tu dirección" required>
                    </div>

                    <!-- Correo Electrónico -->
                    <div class="mb-3 form-group">
                        <label for="emailUsuario" class="label">Email</label>
                        <input type="email" class="form-control" id="emailUsuario" name="emailUsuario" placeholder="Ingresa tu correo electrónico" required>
                    </div>

                    <!-- Contraseña de Usuario -->
                    <div class="mb-3 form-group">
                        <label for="contrasenaUsuario" class="label">Contraseña</label>
                        <input type="password" class="form-control" id="contrasenaUsuario" name="contrasenaUsuario" placeholder="Ingresa tu contraseña" required>
                    </div>

                    <!-- Rol -->
                    <div class="mb-3 form-group">
                        <label for="rolUsuario" class="label">Rol</label>
                        <select id="rolUsuario" name="rolUsuario" class="form-control">
                        </select>
                    </div>

                    <!-- Botón de Enviar -->
                    <div class="form-group" >
                        <button type="submit" class="btn btn-dark" id="crearUsuarioBtn">Crear Usuario</button>
                    </div>

                    <!-- Botón de Cerrar -->
                    <div class="form-group">
                        <button type="button" class="btn btn-dark" id="cerrarFormularioBtn">Cerrar</button>
                    </div>
                </form>
            </div>
        </section>

    <!-- Formulario Oculto Crear Rol -->
    <section>
            <div id="formularioCrearRol" class="formulario-modal-s">

                <!-- Mensaje Crear Rol -->
                <div id="mensajeCrearRol" style="display: none;"></div>

                <form id="crearRolForm">
                    <!-- Nombre de Usuario -->
                    <div class="mb-3 form-group">
                        <label for="nombreRol" class="label">Nombre Rol</label>
                        <input type="text" class="form-control" id="nombreRol" name="nombreRol" placeholder="Ingresa el nombre del Rol" required>
                    </div>

                    <!-- Botón de Enviar -->
                    <div class="form-group" >
                        <button type="button" class="btn btn-dark" id="crearRolBtn">Crear rol</button>
                    </div>

                    <!-- Botón de Cerrar -->
                    <div class="form-group">
                        <button type="button" class="btn btn-dark" id="cerrarFormularioRolBtn">Cerrar</button>
                    </div>

                </form>
            </div>
    </section>

    <!-- Formulario oculto Modificar Rol -->
    <section>
        <div id="formularioModificarRol" class="formulario-modal">

            <form id="modificarRolForm">

                <!-- Modificar Nombre Rol-->
                <div class="mb-3 form-group">
                    <label for="nombreRol" class="label">Nuevo Nombre</label>
                    <input type="text" class="form-control" id="modificarNombreRol" name="modificarNombreRol" placeholder="Ingresar nuevo nombre del rol" required>
                </div>


                <!-- Botón de Enviar -->
                <div class="form-group" >
                    <button type="submit" class="btn btn-dark" id="ModificarRolBtn">Guardar Cambios</button>
                </div>

                <!-- Botón de Cerrar -->
                <div class="form-group">
                    <button type="button" class="btn btn-dark" id="cerrarFormularioModificarBtn">Cerrar</button>
                </div>
            </form>
        </div>
    </section>

    <!-- Botón "Cargar más" -->
    <section>
            <div class="d-flex justify-content-center mt-3">
                <button id="cargarMasBtn" class="btn btn-dark rounded-pill" style="display: none;">Cargar más</button>
            </div>
        </section>



</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous">
</script>
<script src="/js/gestionUsuario.js"></script>
</body>
</html>
