.container {
    max-width: 80%;
    background: #00000013;
    padding: 40px 50px;
    border-radius: 8px;
    border: solid 1px rgba(34, 34, 34, 0.8);
    margin: 40px auto;
}

h2, h4 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}

.input-group .form-control {
    background: #222;
    color: #ffffff;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
}

.input-group .form-control:focus {
    outline: none;
    border-color: #00c9ff;
    box-shadow: inset 0 0 10px rgba(0, 201, 255, 0.6);
    background-color: #222;
    color: #ffffff;
}

.input-group .btn {
    background: #00c9ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 8px 15px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.input-group .btn:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 201, 255, 0.6);
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}

.table thead {
    background: #00c9ff;
    color: #ffffff;
    font-weight: bold;
}

.table th, .table td {
    text-align: left;
    padding: 10px 15px;
    border-bottom: 1px solid #333;
}

.table tbody tr:nth-child(even) {
    background: #1e1e1e;
}

.table tbody tr:hover {
    background: rgba(0, 201, 255, 0.2);
}

.btn-warning {
    background-color: #ffa500;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-warning:hover {
    background-color: #ffb833;
}

.btn-danger {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-danger:hover {
    background-color: #ff6666;
}

#mensajePrincial, #mensajeCrearUsuario, #mensajeCrearRol{
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}

.formulario-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 80%;
    max-width: 800px;
    background-color: #222;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.8);
    z-index: 1050;
}

.formulario-modal label {
    color: #00c9ff;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.formulario-modal .form-control {
    background: #1c1c1c;
    color: #ffffff;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
}

.formulario-modal .form-control:focus {
    outline: none;
    border-color: #00c9ff;
    box-shadow: inset 0 0 10px rgba(0, 201, 255, 0.6);
}

.formulario-modal .btn {
    background: #00c9ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 8px 15px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 10px;
}

.formulario-modal .btn:hover {
    transform: scale(1.05);
    box-shadow: inset 0 0 50px rgba(0, 200, 255, 0.151);
}

.s {
    background: #090909;
    box-shadow: inset 0 0 50px rgba(0, 201, 255, 0.3);
    width: 80%;
}

.formulario-modal-s {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 80%;
    max-width: 800px;
    background-color: #222;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.8);
    z-index: 1050;
}

.formulario-modal-s label {
    color: #00c9ff;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.formulario-modal-s .form-control {
    background: #1c1c1c;
    color: #ffffff;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
}

.formulario-modal-s .form-control:focus {
    outline: none;
    border-color: #00c9ff;
    box-shadow: inset 0 0 10px rgba(0, 201, 255, 0.6);
}

.formulario-modal-s .btn {
    background: #00c9ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 8px 15px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 10px;
}

.formulario-modal-s .btn:hover {
    transform: scale(1.05);
    box-shadow: inset 0 0 50px rgba(0, 200, 255, 0.151);
}
